body {
    background: linear-gradient(to right, #667eea, #764ba2);
    font-family: Arial;
}
.container {
    width: 350px;
    margin: 100px auto;
    padding: 30px;
    background: white;
    border-radius: 12px;
    text-align: center;
}
input {
    width: 90%;
    padding: 10px;
    margin: 10px;
}
button {
    background: #667eea;
    color: white;
    padding: 10px;
    width: 100%;
    border: none;
}
a {
    text-decoration: none;
    color: #667eea;
    font-weight: bold;
}
